[alias]
        last = log -1 --stat
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all

[color]
        ui = true

[core]
        editor = vim
	autocrlf = input

[push]
	default = current

[user]
	name = Schlotter, Christian
	email = christian.schlotter@daimler.com
[credential]
	helper = gopass
[credential "https://github.com"]
	username = chrischdi
[credential "https://git.daimler.com"]
	username = schloc
	
[credential "https://git.cschlotter.de"]
	username = work
[user "https://git.daimler.com"]
	name = Schlotter, Christian (415)
	email = christian.schlotter@daimler.com

[diff "sopsdiffer"]
	textconv = sops -d
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
